<!DOCTYPE HTML>
<html lang="en">
<head>

    <title>Error</title>

</head>

<body>



    <div class="container">
        <div class="row mb-5">
            <div class="col-lg-8 card card-inverse mx-auto mt-5 profile-card">
                <h1 class="text-center mt-4"><%= message %></h1>
                <h2 class="text-center mt-2"><%= error.status %></h2>
                <pre class="mt-4 mb-4"><%= error.stack %></pre>
            </div>
        </div>
    </div>



</body>

</html>
